/* .fileupload{
  background-color: #34495e;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

svg{
  background-color: #ccc;
  margin: 0 auto;
}

.dataselection {
  display: flex;
} */

* { margin: 0; padding: 0; box-sizing: border-box;}

header {
  background-color: #34495e;
  height: 200px;
  color: #fff;
  height: fit-content;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  padding: 20px 0;
}

.dataselection {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.chartcontainer{
  display: flex;
    justify-content: center;
}

svg{
  background-color: #f8f8f8;
}

.btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 24px;
  text-decoration: none;
}


.homepg, .facetchartpg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 10px;
  row-gap: 20px;
}